@model CRA.Models.Employee
@{
    ViewBag.Title = "Page de connexion";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    

    <div class="form-group" style="margin: 0 auto; width: 100px;">
        <h2>Authentification</h2>
        @using (Html.BeginForm("Authenticate", "Authentification", FormMethod.Post))
        {

            <div class="form-outline mb-4">
                Identifiant:
                <input type="text" name="username" />
            </div>
            <div class="form-outline mb-4">
                Mot de passe:
                <input type="text" name="password" />
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        }
    </div>
</body>
</html>